{% extends 'main/template_with_side_menu.html'%}
{% load static %}

{% block content %}
<h3 class="text-center">Список ваших друзей</h3>

<div id="accepted_list_object">
    {% for friend in accepted %}
        {% include 'users/friend_elements.html' %}
    {% empty %}
     <p class="text-center">У вас все еще нет друзей (</p>
    {% endfor %}
</div>


<h3 class="text-center">Заявки</h3>

<ul class="nav nav-tabs" id="userTabs" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="pending-from-requests-tab" data-bs-toggle="tab" href="#pending-from-requests" role="tab"
           aria-selected="true">Ожидающие</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="pending-to-requests-tab" data-bs-toggle="tab" href="#pending-to-requests" role="tab"
           aria-selected="false">Отправленные</a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="rejected-requests-tab" data-bs-toggle="tab" href="#rejected-requests" role="tab"
           aria-selected="false">Отклоненные</a>
    </li>
</ul>


<div class="tab-content mt-3" id="userTabsContent">
    <div class="tab-pane fade show active" id="pending-from-requests" role="tabpanel" aria-labelledby="pending-from-requests-tab">
        <div id="waiting_list_objects">
            {% for friend in pending_from %}
                {% include 'users/friend_request_elements.html' %}
            {% empty %}
                <p class="text-center">У вас нет заявок в друзья (</p>
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade show" id="pending-to-requests" role="tabpanel" aria-labelledby="pending-to-requests-tab">
        <div id="pending_to_list_objects">
            {% for friend in pending_to %}
                {% include 'users/pending_request_elements.html' %}
            {% empty %}
                <p class="text-center">У вас нет исходящих заявок</p>
            {% endfor %}
        </div>
    </div>

    <div class="tab-pane fade show" id="rejected-requests" role="tabpanel" aria-labelledby="rejected-requests-tab">
        <div id="rejected_list_objects">
            {% for friend in rejected %}
                {% include 'users/rejected_request_elements.html' %}
            {% empty %}
                <p class="text-center">Нет отклоненных заявок</p>
            {% endfor %}
        </div>
    </div>

    <style>
        .delete_btn:hover,
        .reject_btn:hover,
        .accept_btn:hover{
            transition: background-color 0.4s ease;
            background-color: #eeeeee;
            border-radius: 0.16em;
        }
    </style>

</div>


{% endblock %}

{% block scripts%}
<script>
    reject_relationship_url = "{% url 'users:web:reject_friend' 0 %}".slice(0, -1)
    accept_relationship_url = "{% url 'users:web:accept_friend' 0 %}".slice(0, -1)
    delete_relationship_url = "{% url 'users:web:delete_request' 0 %}".slice(0, -1)


    let accept_part = `{% include 'users/parts/accept_part.html'%}`
    let reject_part = `{% include 'users/parts/reject_part.html'%}`
</script>

<script src="{% static 'js/users/friendlist/reject_user_request.js'%}"></script>
<script src="{% static 'js/users/friendlist/accept_user_request.js'%}"></script>
<script src="{% static 'js/users/friendlist/delete_user_request.js'%}"></script>
{% endblock %}