{% extends 'main/template_with_side_menu.html'%}
{% load static %}

{% block content %}
<h3 class="text-center">Список ваших друзей</h3>

<div id="accepted_list_object">
    {% for friend in accepted %}
    {% include 'users/friend_elements.html' %}
    {% empty %}
    <p class="text-center">У вас все еще нет друзей (</p>
    {% endfor %}
</div>


<h3 class="text-center">Заявки</h3>
<div id="waiting_list_objects">
    {% for friend in pending_to %}
    {% include 'users/friend_request_elements.html' %}
    {% empty %}
    <p class="text-center">У вас нет заявок в друзья (</p>
    {% endfor %}
</div>
{% endblock %}

{% block scripts%}
<script>
    reject_relationship_url = "{% url 'users:web:reject_friend' 0 %}".slice(0, -1)
    accept_relationship_url = "{% url 'users:web:accept_friend' 0 %}".slice(0, -1)
</script>

<script src="{% static 'js/users/friendlist/reject_user_request.js'%}"></script>
<script src="{% static 'js/users/friendlist/accept_user_request.js'%}"></script>
{% endblock %}