{% load static %}
<div class="card mb-3">
    <div class="row m-0 p-0">
        <div class="col-md-2">
            <img src="{% static 'img/default_logo.png' %}"
                 class="rounded" alt="..." width="64px" height="64px"
                 style="margin-left: auto; margin-right: 0; margin-top: 8px">
        </div>


        {% block 'intercations'%}
            <div class="col-md-8 m-0 p-0 ">
                <div class="card-body m-0 p-0 pt-3">
                    <h6 class="card-title">{{ friend.first_name }} {{ friend.last_name }}</h6>
                    <div>
                        <p>Написать сообщение <i class="bi bi-chat-dots"></i></p>
                    </div>
                </div>
            </div>


            <div class="col-md-2 text-center">
                <div class="mt-1">
                    <form id="delete_form">
                        {% csrf_token %}
                        <i class="bi bi-trash delete_btn" style="font-size: 48px;" id="delete_{{friend.id}}"></i>
                    </form>
                </div>
            </div>
        {% endblock %}
    </div>
</div>


