{% extends 'users/friend_elements.html'%}


{% block 'intercations'%}
<div class="col-md-6 m-0 p-0 resized_part">
    <div class="card-body m-0 p-0 pt-3">
        <h6 class="card-title">{{ friend.first_name }} {{ friend.last_name }}</h6>
        <div>
            <a href="{% url 'users:web:redirect_to_chat' friend.id %}"><p>Написать сообщение <i class="bi bi-chat-dots"></i></p></a>
        </div>
    </div>
</div>


<div class="col-md-2 text-center accept_wrapper_block">
    <div class="mt-1">
        <form id="accept_form">
            {% csrf_token %}
            <i class="bi bi-check-circle accept_btn" style="font-size: 48px;" id="accept_{{friend.id}}"></i>
        </form>
    </div>
</div>

<div class="col-md-2 text-center">
    <div class="mt-1">
        <form id="delete_form">
            {% csrf_token %}
            <i class="bi bi-trash delete_btn" style="font-size: 48px;" id="delete_{{friend.id}}"></i>
        </form>
    </div>
</div>
{% endblock %}