{% extends 'main/template_with_side_menu.html'%}
{% load static %}

{% block content %}
    {% for chat in object_list %}
        <a href="{% url 'chats:web:chat' chat.chat_id %}">
            {% include 'chats/chat_list_page/chat_element.html' %}
        </a>
    {% endfor %}
{% endblock %}

{% block scripts%}
    <script>
        let standart_logo = "{% static 'img/default_logo.png' %}"

        let basicElement = `{% include 'chats/chat_list_page/chat_element.html' %}`
    </script>
    <script src="{% static 'js/chats/chat_list/socket_connect.js'%}"></script>
    <script src="{% static 'js/chats/chat_list/chats_redefine.js'%}"></script>
{% endblock %}

