{% extends 'main/template_with_side_menu.html'%}
{% load static %}

{% block content %}
<div style="overflow-y: auto; height: 72vh" id="list">
    {% for message in object_list %}
        {% include 'chats/chat/message.html' %}
    {% endfor %}
</div>

<div>
    <form enctype="multipart/form-data" id="message_form">
        {% csrf_token %}
        <div id="text_input">
            {{ message_form.text }}
        </div>
        <div id="file_input" class="hidden"
             style="width: 100%; height: 10vh; border: 1px solid blue; position: relative">
            {{ message_form.image }}
        </div>
        <div class="d-flex justify-content-center gap-3">
            <button type="button" id="submit_btn" class="btn btn-success btn-lg mt-3">
                Отправить
            </button>
        </div>
    </form>
</div>

<style>
    .image_field {
        width: 100%;
        height: 100%;
        background: rgba(150,225,150,0.5);
        padding: 5% 25%;
    }

    .hidden{
      display:none;
    }
</style>

{% endblock %}

{% block scripts%}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    let basic_msg = `{% include 'chats/chat/message.html'%}`
    let from_me_msg = basic_msg.replace('BasicMessageTemplateText', `{% include 'chats/chat/message_parts/message_order/from_user.html'%}`)
    let to_me_msg = basic_msg.replace('BasicMessageTemplateText', `{% include 'chats/chat/message_parts/message_order/to_user.html'%}`)

    let default_logo = `{% static 'img/default_logo.png' %}`
    let default_attachment_image = `{% include 'chats/chat/message_parts/message_order/message_body_image.html'%}`


    let chat_new_message_url = "{% url 'chats:web:chat' chat_id %}"
    let chat_id = {{chat_id}}
</script>


<script src="{% static 'js/chats/chat_page/socket_connect.js'%}"></script>
<script src="{% static 'js/chats/chat_page/delete_message_onclick_adding.js'%}"></script>
<script src="{% static 'js/chats/chat_page/file_input.js'%}"></script>
<script src="{% static 'js/chats/chat_page/add_new_message.js'%}"></script>
<script src="{% static 'js/chats/chat_page/on_message_get.js'%}"></script>
<script src="{% static 'js/chats/chat_page/message_send.js'%}"></script>
{% endblock %}

