{% load static %}
<div class="card mb-3">
    <div class="row g-0 m-2">
        <div class="col-md-2">
            <img src="{% if chat.logo %}{{ chat.logo.url }} {% else %} {% static 'img/default_logo.png' %} {%endif%}"
                 class="rounded" alt="..." width="96px" height="96px">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{% if chat %} {{ chat.name }} {% else %} BasicCardTitlePlace {% endif %}</h5>
                <p class="card-text"> {% if chat %} {{ chat.message_text }} {% else %} BasicCardTextPlace  {% endif %}</p>
            </div>
        </div>
    </div>
</div>