{% extends 'users/friend_list_page/big/friend_elements.html'%}


{% block 'intercations'%}
<div class="col-md-8 m-0 p-0 resized_part">
    <div class="card-body m-0 p-0 pt-3">
        <h6 class="card-title">{{ friend.first_name }} {{ friend.last_name }}</h6>
        <div>
            <a href="{%if friend%}{% url 'users:web:redirect_to_chat' friend.id %}{%endif%}"><p>Написать сообщение <i class="bi bi-chat-dots"></i></p></a>
        </div>
    </div>
</div>



{% include 'users/friend_list_page/big/parts/accept_part.html'%}
{% endblock %}